
@model IEnumerable<BooksUI.Models.DTO.AuthorDto.AuthorDto>

@{
}

<h1 class="mt-3">Books</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary"  asp-controller="Books" asp-action="Add">Add An Author</a>

</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.Name</td>
                <td>
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@author:Id" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>